*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
button{
    background-color: teal;
    font-size: 1.2em;
    padding: 10px;
    border-radius: 10px;
    margin: 40px;
}

@media screen and (orientation:portrait){
    button{
        margin: 40px;
        background-color: orange;
        font-size: 1.2em;
        padding: 10px;
        border-radius: 10px;
    }
}